* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Dancing Script', cursive;
      text-align: center;
      color: #333333;
      background-image: linear-gradient(to top right, #fcffb3, #ffbd67);
}

p {
      font-size: 1.5em;
}

#list {
      width: 600px;
      height: 800px;
      padding-top: 200px;
      padding-left: 20px;
      background-image: url(../img/5a2a37e3aa0f05.1167056515127162596966.png);
      background-size: cover;
}
#list ul {
      margin: 10px 0;
      list-style: none;
}
#list ul li {
      padding: 5px 0;
}